body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-bottom:100px;
}

/* code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
} */

/* particular cart item/ /////////////////////////////////////// */
.cart-item {
	display: inline-flex;
    margin: 20px 10px;
    border:1px solid rgb(209, 209, 209);
    padding:5px;
    box-shadow: none;
    transition:box-shadow ease-in-out 0.15s;
    cursor:default;
}
.cart-item:hover
{
    box-shadow: 0px 0px 3px 1px rgb(209, 209, 209);
}

.cart-item .right-block {
	padding: 0 20px;
}

.cart-item-actions {
	margin-top: 5px;
}

.cart-item-actions button
{
    display: inline-block;
    background-color: white;
    border:0px;
    margin:0px 3px;
    outline:none;
}
.cart-item-actions button svg
{
    margin-right: 0px;
}

.action-icons {
	font-size: 25px;
	margin-right: 10px;
}

.action-icons:hover {
	cursor: pointer;
}
/* CART ////////////////////////////////////*/

.cart
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* Navbar/////////////////////////////// */
.navbar
{
    background-color: black;
    height:60px;
    width:100%;
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0px 20px;
}

.cart-icon-container svg
{
    font-size:30px;
}
.cart-icon-container button
{
    outline:none;
    border:0px;
    background-color: black;
    cursor:pointer;
    position:relative;
}
button span
{
    position: absolute;
    background-color: orangered;
    border-radius: 50%;
    width:max-content;
    padding-left:5px;
    padding-right:5px;
    height:20px;
    display:block;
    top:-8px;
    right:0px;
    padding-top:2px;
    box-sizing: border-box;
}

/* TOTAL PRICE//////////////////////////////////////// */
.total-price-container
{
    background-color:#ffbc00;
    padding:5px 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:fixed;
    bottom:0px;
    width:100%;

}
.total-price-heading
{
    display:block;
}

/* CSS LOADER///////////////// */
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255,0,0, 0.2);
  border-right: 1.1em solid rgba(255,0,0, 0.2);
  border-bottom: 1.1em solid rgba(255,0,0, 0.2);
  border-left: 1.1em solid #ff0000;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}




/* ADD PRODUCT in NAVBAR ////////////////*/

.add-product-button>button
{
    height:35px;
    width:120px;
    background-color: white;
    outline:none;
    border:none;
    cursor:pointer;
    transition: background-color ease-in-out 0.15s;
}
.add-product-button>button:hover
{
    background-color: rgb(207, 207, 207);
}