body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
} */

/* particular cart item/ /////////////////////////////////////// */
.cart-item {
	display: inline-flex;
    margin: 20px 10px;
    border:1px solid rgb(209, 209, 209);
    padding:5px;
}

.cart-item .right-block {
	padding: 0 20px;
}

.cart-item-actions {
	margin-top: 5px;
}

.cart-item-actions button
{
    display: inline-block;
    background-color: white;
    border:0px;
    margin:0px 3px;
    outline:none;
}
.cart-item-actions button svg
{
    margin-right: 0px;
}

.action-icons {
	font-size: 25px;
	margin-right: 10px;
}

.action-icons:hover {
	cursor: pointer;
}
/* CART ////////////////////////////////////*/

.cart
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* Navbar/////////////////////////////// */
.navbar
{
    background-color: black;
    height:60px;
    width:100%;
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0px 20px;
}

.cart-icon-container svg
{
    font-size:30px;
}
.cart-icon-container button
{
    outline:none;
    border:0px;
    background-color: black;
    cursor:pointer;
    position:relative;
}
button span
{
    position: absolute;
    background-color: orangered;
    border-radius: 50%;
    width:max-content;
    padding-left:5px;
    padding-right:5px;
    height:20px;
    display:block;
    top:-8px;
    right:0px;
    padding-top:2px;
    box-sizing: border-box;
}

/* TOTAL PRICE//////////////////////////////////////// */
.total-price-container
{
    background-color:#ffbc00;
    padding:5px 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.total-price-heading
{
    display:block;

}